@font-face {
  font-family: "Grotesky";
  src: url("/fonts/Groteskly.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grotesky";
  src: url("/fonts/Groteskly-ExtraLight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Grotesky", serif;
}
::selection { background: #999 }
html { overflow-x: hidden }
p { margin-bottom: 24px }
h2 { margin-bottom: 8px }
h3 {
  margin-bottom: 6px;
  font-size: 1.5rem;
}
ul { list-style: square }
body {
  line-height: 1;
  overflow-x: hidden;
  background-color: black;
}
ul { padding-left: 1.5rem }
li { margin-bottom: .5rem }
#app { height: 100% }
.v-enter-active, .v-leave-active { transition: opacity .3s }
.v-enter-from, .v-leave-to { opacity: 0 }
.main {
  flex-direction: column;
  cursor: move;
  height: 100%;
  min-height: 100vh !important;
}
.text-light {
  display: block;
  font-weight: 300;
}
.glass-block {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.block {
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.enter {
  opacity: 1!important;
  transform: translateY(0)!important;
}
.before-enter {
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s ease;
}

@media only screen and (max-width: 900px) {
  .main { height: 100%!important }
  .block {
    height: auto;
    min-height: auto;
  }
}
