* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "Grotesky", serif;
}
html {
  overflow-x: hidden;
}
p {
  margin-bottom: 24px;
}
h2 {
  margin-bottom: 8px;
}
h3 {
  margin-bottom: 6px;
  font-size: 1.5rem;
}
ul {
  list-style: square;
}
@font-face {
  font-family: "Grotesky";
  src: url("/fonts/Groteskly.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grotesky";
  src: url("/fonts/Groteskly-ExtraLight.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
body {
  line-height: 1;
  overflow-x: hidden;
  background-color: black;
}
ul {
  padding-left: 1.5rem;
}
li {
  margin-bottom: 4px;
}
#app {
  height: 100%;
}
.main {
  flex-direction: column;
  cursor: move;
  height: 100%;
  min-height: 100vh !important;
}
.grid h2 {
  position: relative;
  margin-bottom: 20px;
}
.renderable {
  position: fixed !important;
}

.pad {
  position: relative;
  max-width: 800px;
  grid-column: 1 / span 2;
  margin-bottom: 20px;
  padding: 1rem;
}

.block {
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.name {
  font-size: 8cqw;
  -webkit-text-stroke: 1px white;
  z-index: 5;
}
.subname {
  font-size: 2cqw;
  color: white;
  z-index: 5;
}
.scroll-div {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  cursor: default;
  height: 20%;
  z-index: 40;
}
.handle {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 24px;
  align-items: start;
}
.about-col {
  padding: 1rem;
  max-width: 400px;
}
.about-col > div {
  line-height: 1.75rem;
}
.about-desc {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.intro {
  font-size: 1.25rem;
  line-height: 1.2;
}
.badge {
  font-size: 16px;
  border: 2px solid white;
  padding: 3px 8px;
  background: white;
  color: black;
}
.text-light {
  display: block;
  font-weight: 300;
}
.enter {
  opacity: 1!important;
  transform: translateY(0)!important;
}
.before-enter {
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s ease;
}
::selection {
  background: #999;
}
.name-container {
  pointer-events: none;
  z-index: 10;
}
.renderable {
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: .3s;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.contacts > div {
  height: 64px;
  margin-bottom: 16px;
  display: flex;
}
.contacts > div > button {
  background: black;
  height: 100%;
  width: 4rem;
  padding: 1rem;
  cursor: pointer;
  transition-duration: .3s;
  margin-left: 1rem;
  border: 1px solid #fff;
  border-radius: .5rem;
}
.contacts > div > button:hover {
  filter: invert();
}
.contacts > div > a {
  border: 1px solid white;
  display: flex;
  align-items: center;
  width: 20rem;
  text-decoration: none;
  color: white;
  transition-duration: .3s;
  border-radius: .5rem;
}
.contacts > div > a:hover {
  background-color: white;
  color: black;
}
.contacts > div > a:hover .contact-icon {
  color: white;
  background-color: black;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.contact-icon {
  height: 64px;
  width: 64px;
  color: black;
  background-color: white;
  padding: 0 16px;
  border: 1px solid white;
  border-left: none;
  transition-duration: .3s;
  flex: none;
  border-radius: .5rem 0 0 .5rem;
}
.contact-text {
  padding: 0 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}
.logo-container > img {
  width: 100%;
  max-width: 400px;
  transform: rotateY(20deg);
}
.company > .logo-container {
  height: 100%;
  min-width: 380px;
  perspective: 300px;
  padding: 40px;
  flex: none;
  display: flex;
  justify-content: center;
}
.company > .content {
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: white;
  padding-left: 32px;
  padding-right: 20%;
}
.content > .title-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.content > div > p {
  font-size: 24px;
  font-weight: 300;
}
.title-container > h2 {
  font-size: 3rem;
  margin-right: 16px;
}
.btn-link {
  border: 1px solid white;
  min-width: 200px;
  height: 45px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
  letter-spacing: .1rem;
  border-radius: .75rem;
}
.btn-link:hover {
  background-color: rgba(0, 0, 0, 20%);
}
.v-enter-active,
.v-leave-active {
  transition: opacity .3s;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.projects-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 800px;
}
.project {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}
.project > .icon-container {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  flex: none;
  position: relative;
  padding: 1rem;
  border-radius: .75rem;
}
.project > .icon-container > svg {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  .company > .content {
    padding-right: 32px;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    height: 100%!important;
  }
  .name {
    font-size: 12cqw;
  }
  .subname {
    font-size: 4cqw;
  }
  .name-container {
    padding: 1rem;
    text-align: center;
  }
  .handle {
    display: block;
    width: 3rem;
  }
  .about-col {
    max-width: 100%;
  }
  .about-desc {
    flex-direction: column;
  }
  .projects-wrap {
    grid-template-columns: 1fr;
  }
  .btn-link {
    width: 100%;
  }
  .grid {
    grid-template-columns: auto;
    gap: 1rem;
    padding: 1rem;
  }
  .pad {
    grid-column: 1 / span 1;
    font-size: 1.75rem;
    padding: 1rem;
  }
  .block {
    height: auto;
  }
  .company {
    flex-direction: column;
  }
  .company > .content {
    padding: 32px;
  }
  .content > .title-container {
    flex-direction: column;
  }
  .title-container > h2 {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .content > .title-container {
    align-items: start;
    width: 100%;
  }
  .block {
    min-height: auto;
  }
  .contacts > div {
    width: 95%;
  }
  .contacts > div > a {
    width: 100%;
    overflow: hidden;
  }
}
